<html>
<head>
<title>Next-gen Web Services [NWS]</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
<form action="/create_webpage/{{username}}" method="post">
<div class="app-title"> <h1>Next-gen Web Services [NWS]<h1><br><h1>Create a new webpage!</h1></div>
<div class="login-screen">
<div class="app-title"><h1>Enter Webpage Details</h1></div>
<div class="login-form">
<div class="control-group">Requested Url: <input type="text" name="url" class="login-field"></div>
<div class="app-title"><h1>Redundancy Requirements</h1>
<div class="control-group">Number of Replicas: <input type="text" name="replicas" class="login-field"></div>
<div class="control-group">Server Selection:
<select name="server_selection">
<option value="aa_same">Active-Active (Same Physical Server)</option>
<option value="aa_diff">Active-Active (Different Physical Servers)</option>
<option value="ab_same">Active-Backup (Same Physical Server)</option>
<option value="ab_diff">Active-Backup (Different Physical Servers)</option>
</select>
</div>
<div class="control-group">Upload an "index.html" file for the webpage:<input type="file" id="index" name="index" accept="html"></div>
</div> <input type="submit" value="Submit" class="btn btn-primary btn-large btn-block"><br></div>
</div>
</form>
</body>
</html>
