<html>
<head>
<title>Next-gen Web Services [NWS]</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
<div class="app-title"> <h1>Next-gen Web Services [NWS]<h1><br><h1>Modify an existing webpage</h1></div>
<div class="login-screen">
<div class="app-title"><h1>Select from the following modification options</h1></div>
<a href = "/user_management/{{username}}"><button class="btn btn-primary btn-large btn-block">User Management - Add or Remove Users</button></a><br><br>
<a href = "/upload_newindex/{{username}}"><button class="btn btn-primary btn-large btn-block">Upload a new "index.html" file for the webpage</button></a><br>
<a href = "/revert_webpage/{{username}}"><button class="btn btn-primary btn-large btn-block">Revert to a previous version of the webpage</button></a><br><br>
</div>
<br><br>
<a href = "/user_session/{{username}}"><button class="btn btn-primary btn-large btn-block">Go back to previous page</button></a>
<br><br>
<a href = "/homepage"><button class="btn btn-primary btn-large btn-block">Logout</button></a>
<br><br>
</body>
</html>
