<html>
<head>
<title>Next-gen Web Services [NWS]</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
<div class="app-title"> <h1>Next-gen Web Services [NWS]<h1>
<div class="app-title"><h1>Permission Denied!</h1></div>
<h1>Only users with "admin" access can modify the webpage!</h1>
</div>
<a href = "/homepage"><button class="btn btn-primary btn-large btn-block">Logout</button></a>
<br><br>
</body>
</html>
