<html>
<head>
<title>Next-gen Web Services [NWS]</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
<form action="/upload_newindex/{{username}}" method="post" enctype="multipart/form-data">
<div class="app-title"> <h1>Next-gen Web Services [NWS]<h1><br><h1>Modify an existing webpage!</h1></div>
<div class="login-screen">
<div class="app-title"><h1>Upload a new "index.html" file</h1></div>
<div class="login-form">
<div class="control-group">Enter Url: <input type="text" name="url" class="login-field"></div>
<div class="control-group">Upload a new "index.html" file for the webpage:<input type="file" name="file" accept="html"></div>
</div> <input type="submit" value="Submit" class="btn btn-primary btn-large btn-block"><br></div>
</div>
</form>
</body>
</html>
