<html>
<head>
<title>Next-gen Web Services [NWS]</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
<div class="app-title"><h1>Next-gen Web Services [NWS]<h1><h1>Modify an existing webpage!</h1></div>
<div class="app-title"><h1>User Management Dashboard</h1></div>
<div class="app-title">
<a href = "/list_existing_users/{{username}}"><button class="btn btn-primary btn-large btn-block">List Existing users</button></a><br><br>
<a href = "/add_users/{{username}}"><button class="btn btn-primary btn-large btn-block">Add users</button></a><br><br>
</div>
<br><br>
<a href = "/modify_webpage/{{username}}"><button class="btn btn-primary btn-large btn-block">Go back to previous page</button></a>
<br><br>
<a href = "/homepage"><button class="btn btn-primary btn-large btn-block">Logout</button></a>
<br><br>
</body>
</html>
