<html>
<head>
<title>Next-gen Web Services [NWS]</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
<div class="app-title"> <h1>Next-gen Web Services [NWS]<h1>
{% if username %}
<div class="app-title"><h1>Welcome to NWS User Portal, {{username}}!</h1></div>
{% endif %}
<h1>Create or manage your webpage</h1>
</div>
<div class="login">
<br><br>
<br><br>
<a href = "/create_webpage/{{username}}"><button class="btn btn-primary btn-large btn-block">Create a webpage!</button></a>
<br><br>
<br><br>
<a href = "/modify_webpage/{{username}}"><button class="btn btn-primary btn-large btn-block">Modify an existing a webpage</button></a>
<br><br>
</div>
</body>
</html>
